*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

.all-header{
    width: 100%;
    height: auto;
    background: url("fondo-header.jpg") center top repeat-x;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.header{
    width: 100%;
    max-width: 930px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.logo-header{
    width: 470px;
    height: 72px;
    margin-top: 20px;
}

.logos{
    margin-top: 30px;
}

.logos a{
    margin-left: 8px;
}

.franja{
    width: 100%;
    min-height: 50px;
    background-color: #3c3c70;
    display: flex;
    justify-content: center;
}

.menu{
    width: 100%;
    max-width: 930px;
    height: auto;
    display: inline-block;
    padding: auto;
}

.text-menu, .casita{
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0px;
}

.casita{
    margin-right: 23px;
}

.text-menu{
    padding: 0px 23px;
}

.text-menu a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}

.centro-completo {
    width: 100%;
    max-width: 930px;
    margin-top: 1%;
    display: flex;
}

.menu_reservas{
    width: 250px;
}

.centro{
    width: 500px;
}

.menu_indicaciones{
    width: 180px;
}

.boton {
    width: 210px;
    height: 72px;
    font-size: 100%;
    text-align: center;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: geomanist_regularregular, sans-serif;
    text-decoration: none;
}

.boton h5{
    font-size: 22px;
    font-weight: bold;
}

.boton h6{
    font-size: 16px;
    font-weight: bold;
}

.boton p{
    font-size: 16px;
}

.azul {
    background-color: #3e6bb2;
    color: white;
}

.calypso {
    background-color: #00adee;
    color: white;
}

.gris {
    background-color: #D0D2D3;
    color: #1B75BB;
}

.verde {
    background-color: #65bd66;
    color: #ffffff;
}

.celeste {
    background-color: #3b8ccb;
    color: #ffffff;
}

.titulo-reserva{
    color: #0057a3;
    font-size: 40px;
    margin-top: 25px;
    border-bottom: 1px solid #0057a3;
    font-family: Helvetica;
}

.caja-cuerpo{
    width: 490px;
    height: 516px;
    border: 1px solid #0057a3;
    margin-top: 20px;
}

.panel{
    padding: 15px;
}

.rut{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 10px;
    width: 430px;
    margin: 10px 0px;
}

.ingresar{
    width: 452px;
    background-color: #3e6bb2;
    padding: 10px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin: 20px 0px;
}

.version{
    font-size: 10px;
}

.registrar{
    width: 452px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    color: #3e6bb2;
    border-bottom: 1px solid rgb(164, 162, 162);
}

.registrar a{
    text-decoration: none;
}

.boton2 {
    width: 170px;
    font-size: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: geomanist_regularregular, sans-serif;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 0px;
    font-size: 13px;
}

.boton2 p{
    margin: 2px 0px;
}

.gris-claro{
    background-color: #d2d2d4;
    color: white;
}

.footer{
    margin-top: 20px;
    background: url("Footer-web-retorno-VI.jpg") repeat-x center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-2{
    width: 100%;
    max-width: 930px;
    display: flex;
    justify-content: flex-end;
}

.info-footer{
    width: 100%;
    max-width: 590px;
    min-height: 150px;
    margin-top: 10px;
    font-size: 13px;
    color: white;
    margin-top: 50px;
    display: flex;
    margin-bottom: 2px;
}

.enlace-1{
    width: 130px;
    height: 135px;
    border-right: 1px solid white;
}

.info-footer p{
    margin-bottom: 10px;
    font-size: 15px;
}

.info-footer ul li{
    margin-left: 15px;
    margin-bottom: 5px;
}

.enlace-2{
    margin-top: 15px;
    margin-left: 20px;
    width: 130px;
}

.enlace-3{
    width: 130px;
    height: 110px;
    border-right: 1px solid white;
    margin-left: 5px;
}

.info-footer a{
    text-decoration: none;
    color: white;
}

.enlace-4{
    margin-left: 20px;
    width: 130px;
}

